# **UNSW_NB15 Threat Detection**

### **- Preprocessing, EDA, and Modelling**

#### **Objective**
The objective of this project is to make a classification model that classify the datasets

#### **Dataset**
The dataset used in this notebook is the **UNSW_NB15** [dataset](https://www.kaggle.com/datasets/mrwellsdavid/unsw-nb15/data).

### **Data Cleaning & Preprocessing**

##### importing libraries

In [1]:
import numpy as np
import pandas as pd
from zipfile import ZipFile
import os

##### defining path

In [2]:
home = r'D:\ml.projects\files\1_UNSW_Datasets.zip'
school = r'C:\Users\ncc\Desktop\ml.projects\files\1_UNSW_Datasets.zip'

if os.path.exists(home):
    path = home 
elif os.path.exists(school):
    path = school 
else:
    raise FileNotFoundError("Zip File Not Found on System")

##### loading & inspecting data

In [3]:
def load_data():
    with ZipFile(path, "r") as f:
        f.extract("UNSW_NB15_training-set.csv")
        f.extract("UNSW_NB15_testing-set.csv")
        f.extract("UNSW-NB15_LIST_EVENTS.csv")
        f.extract("UNSW-NB15_1.csv")
        f.extract("UNSW-NB15_2.csv")
        f.extract("UNSW-NB15_3.csv")
        f.extract("UNSW-NB15_4.csv")
        f.extract("NUSW-NB15_features.csv")
    train = pd.read_csv("UNSW_NB15_training-set.csv")
    test = pd.read_csv("UNSW_NB15_testing-set.csv")
    list_events = pd.read_csv("UNSW-NB15_LIST_EVENTS.csv")
    NB15_1 = pd.read_csv("UNSW-NB15_1.csv")
    NB15_2 = pd.read_csv("UNSW-NB15_2.csv")
    NB15_3 = pd.read_csv("UNSW-NB15_3.csv")
    NB15_4 = pd.read_csv("UNSW-NB15_4.csv")
    NB15_features = pd.read_csv("NUSW-NB15_features.csv", encoding= "cp1252")

    return train, test, list_events, NB15_1, NB15_2, NB15_3, NB15_4, NB15_features

In [4]:
train, test, list_events, NB15_1, NB15_2, NB15_3, NB15_4, NB15_features = load_data()

C:\Users\ncc\AppData\Local\Temp\ipykernel_9132\3277937790.py:14: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  NB15_1 = pd.read_csv("UNSW-NB15_1.csv")
C:\Users\ncc\AppData\Local\Temp\ipykernel_9132\3277937790.py:15: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  NB15_2 = pd.read_csv("UNSW-NB15_2.csv")

In [5]:
train.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [6]:
test.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [7]:
list_events.head()

  Attack category Attack subcategory  Number of events
0          normal                NaN           2218761
1        Fuzzers                 FTP               558
2        Fuzzers                HTTP              1497
3        Fuzzers                 RIP              3550
4        Fuzzers                 SMB              5245

In [8]:
NB15_1.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [9]:
NB15_2.head()

,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0.6,13,13.1,6,7.1,1,1.1,2,Unnamed: 47,0.7
0,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,...,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,...,1,1,2,7,5,1,1,4,NaN,0
2,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,...,0,13,13,6,7,1,1,2,NaN,0
3,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,...,0,8,20,7,5,1,1,4,NaN,0
4,59.166.0.8,39094,149.171.126.3,53,udp,CON,0.001026,130,162,31,...,0,8,13,6,5,1,1,1,NaN,0

In [10]:
NB15_3.head()

,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2.1,5,1,1.1,2.2,Unnamed: 47,0.4
0,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,...,,3,5,2,4,1,1,4,NaN,0
1,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,...,,3,5,1,1,1,1,3,NaN,0
2,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
4,59.166.0.3,10275,149.171.126.0,25,tcp,FIN,0.486578,37462,3380,31,...,,3,2,3,4,2,1,2,NaN,0

In [11]:
NB15_4.head()

,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2.1,7,4,1,1.1,3,Unnamed: 47,0.4
0,59.166.0.9,9685,149.171.126.2,80,tcp,FIN,5.864748,19410,1087890,31,...,,3,1,4,4,1,1,1,NaN,0
1,59.166.0.2,1421,149.171.126.4,53,udp,CON,0.001391,146,178,31,...,,3,5,2,7,1,1,4,NaN,0
2,59.166.0.2,21553,149.171.126.2,25,tcp,FIN,0.053948,37812,3380,31,...,,1,1,4,7,1,1,3,NaN,0
3,59.166.0.8,45212,149.171.126.4,53,udp,CON,0.000953,146,178,31,...,,2,5,2,1,1,1,2,NaN,0
4,59.166.0.0,59922,149.171.126.8,6881,tcp,FIN,8.633186,25056,1094788,31,...,,9,7,2,3,2,1,6,NaN,0

##### understading features

In [12]:
NB15_features

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,Sload,Float,Source bits per second
15,16,Dload,Float,Destination bits per second
16,17,Spkts,integer,Source to destination packet count
17,18,Dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,Sjit,Float,Source jitter (mSec)
27,28,Djit,Float,Destination jitter (mSec)
28,29,Stime,Timestamp,record start time
29,30,Ltime,Timestamp,record last time
30,31,Sintpkt,Float,Source interpacket arrival time (mSec)
31,32,Dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...
47,48,attack_cat,nominal,The name of each attack category. In this data...
48,49,Label,binary,0 for normal and 1 for attack records

##### concating the data

In [13]:
# this replace all the column headers of NB15_(n)
# with the list of names in the "Name" column of NB15 features
NB15_1.columns = NB15_features['Name']  
NB15_2.columns = NB15_features['Name']
NB15_3.columns = NB15_features['Name']
NB15_4.columns = NB15_features['Name']

In [14]:
# joining the data together
train_df = pd.concat([NB15_1, NB15_2, NB15_3, NB15_4], ignore_index = True)

In [15]:
# shuffling data
train_df = train_df.sample(frac = 1, random_state = 42).reset_index(drop = True)

In [16]:
train_df

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,175.45.176.3,57672,149.171.126.15,3260,tcp,CON,0.285356,986,86,62,...,,10,8,4,5,3,1,7,NaN,0
1,59.166.0.8,38052,149.171.126.9,6881,tcp,FIN,0.314311,1540,1644,31,...,,14,6,8,12,5,1,6,NaN,0
2,59.166.0.0,42911,149.171.126.2,38558,udp,CON,0.301180,536,304,31,...,0,9,16,7,6,1,1,3,NaN,0
3,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000009,114,0,254,...,,33,33,17,17,17,17,33,Generic,1
4,59.166.0.5,61544,149.171.126.6,53,udp,CON,0.001079,146,178,31,...,,2,2,5,4,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540038,59.166.0.8,34415,149.171.126.0,5190,tcp,FIN,0.008119,1920,4312,31,...,0,3,10,4,1,1,1,1,NaN,0
2540039,59.166.0.8,56352,149.171.126.2,53,udp,CON,0.001047,130,162,31,...,,1,1,2,6,1,1,1,NaN,0
2540040,59.166.0.9,25527,149.171.126.4,6881,tcp,FIN,0.013106,1540,1644,31,...,,12,11,8,9,6,1,6,NaN,0
2540041,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000003,114,0,254,...,,37,37,26,26,26,13,37,Generic,1
2540042,149.171.126.14,1043,175.45.176.1,53,udp,INT,0.000002,264,0,60,...,,22,22,22,22,22,11,22,NaN,0

#### **Analysis Data and Preprocessing**

In [17]:
def analysis(data):
    print(f"Shape of data is: {data.shape}\n")
    print(f"Statistical Summary")
    print('-------------------')
    print(data.info())

In [18]:
analysis(train_df)

Shape of data is: (2540043, 49)

Statistical Summary
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540043 entries, 0 to 2540042
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             object
 1   sport             object
 2   dstip             object
 3   dsport            object
 4   proto             object
 5   state             object
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           object
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ ltm       int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        object
 48  Label             int64
dtypes: float64(12), int64(28), object(9)
memory usage: 949.6+ MB
None

**Insight:**

-   There are **2540043 records** and **49 columns** available in the train dataset.

In [19]:
cols = train_df.columns

numerical_cols = train_df.select_dtypes(include = ["int64", "float64"]).columns
categorical_cols = train_df.select_dtypes(include = ["object"]).columns

In [20]:
print(f"There are {len(numerical_cols)} Numerical Columns")
print(f"There are {len(categorical_cols)} Categorical Columns")

There are 40 Numerical Columns
There are 9 Categorical Columns

##### checking for duplicate values in the data

In [21]:
def duplicates(data):
    duplicated = data.duplicated().sum()
    print(f"There are {duplicated} duplicated values in the data")

    if duplicated.sum() > 0:
        print("Removing duplicates....")
        data = data.drop_duplicates()
        print("Duplicates removed!")
        print(f"There are now {data.duplicated().sum()} duplicates in the data")

In [22]:
duplicates(train_df)

There are 480626 duplicated values in the data
Removing duplicates....
Duplicates removed!
There are now 0 duplicates in the data

**Insight:**
-   There are **480626** duplicate records in the dataset.

##### computing total no. of missing values and the percentage

In [23]:
def missing_data(df):
    missing = df.isnull().sum().to_frame().rename(columns = {0: "Total No. of Missing Values"})
    missing['%of Missing Values'] = round((missing['Total No. of Missing Values']/len(df))*100, 2)
    return missing

In [24]:
missing_data(train_df)

                  Total No. of Missing Values  %of Missing Values
Name
srcip                                       0                0.00
sport                                       0                0.00
dstip                                       0                0.00
dsport                                      0                0.00
proto                                       0                0.00
state                                       0                0.00
dur                                         0                0.00
sbytes                                      0                0.00
dbytes                                      0                0.00
sttl                                        0                0.00
dttl                                        0                0.00
sloss                                       0                0.00
dloss                                       0                0.00
service                                     0                0.00
Sload                                       0                0.00
Dload                                       0                0.00
Spkts                                       0                0.00
Dpkts                                       0                0.00
swin                                        0                0.00
dwin                                        0                0.00
stcpb                                       0                0.00
dtcpb                                       0                0.00
smeansz                                     0                0.00
dmeansz                                     0                0.00
trans_depth                                 0                0.00
res_bdy_len                                 0                0.00
Sjit                                        0                0.00
Djit                                        0                0.00
Stime                                       0                0.00
Ltime                                       0                0.00
Sintpkt                                     0                0.00
Dintpkt                                     0                0.00
tcprtt                                      0                0.00
synack                                      0                0.00
ackdat                                      0                0.00
is_sm_ips_ports                             0                0.00
ct_state_ttl                                0                0.00
ct_flw_http_mthd                      1348143               53.08
is_ftp_login                          1429877               56.29
ct_ftp_cmd                                  0                0.00
ct_srv_src                                  0                0.00
ct_srv_dst                                  0                0.00
ct_dst_ltm                                  0                0.00
ct_src_ ltm                                 0                0.00
ct_src_dport_ltm                            0                0.00
ct_dst_sport_ltm                            0                0.00
ct_dst_src_ltm                              0                0.00
attack_cat                            2218760               87.35
Label                                       0                0.00

##### handling missing values

In [25]:
def handling_missing_values(df):
    # replacing null values in 'attack_cat' with 'normal'
    df['attack_cat'].fillna('Normal', inplace = True)
    df['attack_cat'] = df['attack_cat'].apply(lambda x: x.strip().lower())

    # replacing null values in 'is_ftp_login' with 0
    df['is_ftp_login'].fillna(0, inplace = True)

    # replacing null values in 'ct_flw_http_mthd' with 0
    df['ct_flw_http_mthd'].fillna(0, inplace = True)
    return df

In [26]:
train_df = handling_missing_values(train_df)

C:\Users\ncc\AppData\Local\Temp\ipykernel_9132\1601984324.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['attack_cat'].fillna('Normal', inplace = True)
C:\Users\ncc\AppData\Local\Temp\ipykernel_9132\1601984324.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_ftp_login'].fillna(0, inplace = True)
C:\Users\ncc\AppData\Local\Temp\ipykernel_9132\1601984324.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ct_flw_http_mthd'].fillna(0, inplace = True)

**Insight:**
-   `attack_cat`, `is_ftp_login`, and `ct_flw_http_mthd` all have missing values.

#### **Performing Descriptive Analysis**

In [27]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Name,,,,,,,,
dur,2540043.0,6.587925e-01,1.392494e+01,0.000000e+00,1.037000e-03,1.586100e-02,2.145650e-01,8.786638e+03
sbytes,2540043.0,4.339589e+03,5.640604e+04,0.000000e+00,2.000000e+02,1.470000e+03,3.182000e+03,1.435577e+07
dbytes,2540043.0,3.642760e+04,1.610962e+05,0.000000e+00,1.780000e+02,1.820000e+03,1.489400e+04,1.465753e+07
sttl,2540043.0,6.278202e+01,7.462281e+01,0.000000e+00,3.100000e+01,3.100000e+01,3.100000e+01,2.550000e+02
dttl,2540043.0,3.076681e+01,4.285092e+01,0.000000e+00,2.900000e+01,2.900000e+01,2.900000e+01,2.540000e+02
sloss,2540043.0,5.163917e+00,2.251709e+01,0.000000e+00,0.000000e+00,3.000000e+00,7.000000e+00,5.319000e+03
dloss,2540043.0,1.632944e+01,5.659479e+01,0.000000e+00,0.000000e+00,4.000000e+00,1.400000e+01,5.507000e+03
Sload,2540043.0,3.695650e+07,1.186044e+08,0.000000e+00,1.353955e+05,5.893038e+05,2.039923e+06,5.988000e+09
Dload,2540043.0,2.450860e+06,4.224865e+06,0.000000e+00,1.191580e+04,5.893179e+05,2.925945e+06,1.287619e+08
Spkts,2540043.0,3.328882e+01,7.628393e+01,0.000000e+00,2.000000e+00,1.200000e+01,4.400000e+01,1.064600e+04
Dpkts,2540043.0,4.272663e+01,1.215021e+02,0.000000e+00,2.000000e+00,1.200000e+01,4.200000e+01,1.101800e+04
swin,2540043.0,1.500887e+02,1.254824e+02,0.000000e+00,0.000000e+00,2.550000e+02,2.550000e+02,2.550000e+02
dwin,2540043.0,1.497458e+02,1.255439e+02,0.000000e+00,0.000000e+00,2.550000e+02,2.550000e+02,2.550000e+02
stcpb,2540043.0,1.261702e+09,1.422028e+09,0.000000e+00,0.000000e+00,6.397246e+08,2.467165e+09,4.294959e+09
dtcpb,2540043.0,1.261766e+09,1.422139e+09,0.000000e+00,0.000000e+00,6.384157e+08,2.469411e+09,4.294954e+09
smeansz,2540043.0,1.242535e+02,1.519158e+02,0.000000e+00,6.000000e+01,7.300000e+01,1.320000e+02,1.504000e+03
dmeansz,2540043.0,2.766716e+02,3.356165e+02,0.000000e+00,6.900000e+01,8.900000e+01,5.650000e+02,1.500000e+03
trans_depth,2540043.0,8.325332e-02,3.500048e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.720000e+02
res_bdy_len,2540043.0,4.242124e+03,4.750056e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.558056e+06
Sjit,2540043.0,1.589039e+03,1.691038e+04,0.000000e+00,0.000000e+00,1.912483e+01,4.137935e+02,1.483831e+06
Djit,2540043.0,7.300766e+02,3.438561e+03,0.000000e+00,0.000000e+00,2.653536e+00,6.350857e+01,7.812211e+05
Stime,2540043.0,1.423261e+09,1.134448e+06,1.421927e+09,1.421952e+09,1.424227e+09,1.424245e+09,1.424262e+09
Ltime,2540043.0,1.423261e+09,1.134448e+06,1.421927e+09,1.421952e+09,1.424227e+09,1.424245e+09,1.424262e+09
Sintpkt,2540043.0,1.933228e+02,2.779165e+03,0.000000e+00,9.000000e-03,4.682620e-01,7.351437e+00,8.437150e+04
Dintpkt,2540043.0,7.882489e+01,1.433193e+03,0.000000e+00,6.000000e-03,4.147540e-01,6.202144e+00,5.948532e+04
tcprtt,2540043.0,6.180483e-03,4.615867e-02,0.000000e+00,0.000000e+00,6.130000e-04,7.020000e-04,1.003751e+01
synack,2540043.0,3.287599e-03,2.593572e-02,0.000000e+00,0.000000e+00,4.830000e-04,5.540000e-04,4.525272e+00
ackdat,2540043.0,2.892884e-03,2.394670e-02,0.000000e+00,0.000000e+00,1.220000e-04,1.400000e-04,5.512234e+00
is_sm_ips_ports,2540043.0,1.651547e-03,4.060566e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
ct_state_ttl,2540043.0,2.611550e-01,6.830978e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
ct_flw_http_mthd,2540043.0,1.100781e-01,5.564199e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.600000e+01
is_ftp_login,2540043.0,1.735128e-02,1.334573e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
ct_srv_src,2540043.0,9.206993e+00,1.083676e+01,1.000000e+00,2.000000e+00,5.000000e+00,1.000000e+01,6.700000e+01
ct_srv_dst,2540043.0,8.988962e+00,1.082250e+01,1.000000e+00,2.000000e+00,5.000000e+00,1.000000e+01,6.700000e+01
ct_dst_ltm,2540043.0,6.439107e+00,8.162039e+00,1.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00,6.700000e+01
ct_src_ ltm,2540043.0,6.900989e+00,8.205068e+00,1.000000e+00,2.000000e+00,4.000000e+00,7.000000e+00,6.700000e+01
ct_src_dport_ltm,2540043.0,4.642145e+00,8.477584e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.700000e+01
ct_dst_sport_ltm,2540043.0,3.592733e+00,6.174449e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01
ct_dst_src_ltm,2540043.0,6.845894e+00,1.125829e+01,1.000000e+00,1.000000e+00,2.000000e+00,5.000000e+00,6.700000e+01
Label,2540043.0,1.264872e-01,3.323977e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

#### **Performing Descriptive Analysis on Categorical Attributes**

In [28]:
train_df.describe(include = "O").T

              count  unique            top     freq
Name
srcip       2540043      43     59.166.0.4   197959
sport       2540043  100343           1043   216289
dstip       2540043      47  149.171.126.3   197771
dsport      2540043  128297             53   619539
proto       2540043     135            tcp  1495071
state       2540043      16            FIN  1478686
service     2540043      13              -  1246395
ct_ftp_cmd  2540043      13                 1429877
attack_cat  2540043      11         normal  2218760

#### **Checking Unique Values of Attributes**

In [29]:
for column in cols:
    print(f"Unique Values of {column} with dtype {train_df[column].dtype} have total values - {train_df[column].nunique()} -> {train_df[column].unique()}")
    print("*"*100)

Unique Values of srcip with dtype object have total values - 43 -> ['175.45.176.3' '59.166.0.8' '59.166.0.0' '175.45.176.1' '59.166.0.5'
 '59.166.0.7' '175.45.176.0' '149.171.126.14' '59.166.0.1' '59.166.0.9'
 '149.171.126.15' '149.171.126.18' '59.166.0.4' '59.166.0.2' '59.166.0.3'
 '59.166.0.6' '175.45.176.2' '149.171.126.10' '10.40.182.1'
 '149.171.126.12' '10.40.170.2' '10.40.85.30' '149.171.126.2'
 '10.40.182.3' '10.40.85.1' '10.40.182.6' '10.40.85.10' '149.171.126.7'
 '149.171.126.6' '149.171.126.0' '149.171.126.8' '149.171.126.13'
 '149.171.126.5' '192.168.241.243' '149.171.126.4' '149.171.126.9'
 '149.171.126.1' '149.171.126.3' '149.171.126.11' '149.171.126.19'
 '149.171.126.17' '149.171.126.16' '127.0.0.1']
****************************************************************************************************
Unique Values of sport with dtype object have total values - 100343 -> [57672 38052 42911 ... '17953' '20349' '53235']
****************************************************************************************************
Unique Values of dstip with dtype object have total values - 47 -> ['149.171.126.15' '149.171.126.9' '149.171.126.2' '149.171.126.14'
 '149.171.126.6' '149.171.126.0' '149.171.126.17' '175.45.176.1'
 '149.171.126.12' '149.171.126.8' '149.171.126.1' '175.45.176.3'
 '149.171.126.4' '149.171.126.5' '149.171.126.7' '149.171.126.3'
 '149.171.126.10' '149.171.126.18' '175.45.176.0' '10.40.182.3'
 '149.171.126.13' '149.171.126.19' '10.40.170.2' '149.171.126.16'
 '149.171.126.11' '10.40.85.1' '224.0.0.5' '59.166.0.1' '10.40.182.255'
 '59.166.0.7' '175.45.176.2' '192.168.241.50' '10.40.85.30' '59.166.0.8'
 '224.0.0.1' '10.40.198.10' '59.166.0.5' '192.168.241.243' '59.166.0.0'
 '59.166.0.9' '59.166.0.4' '59.166.0.2' '59.166.0.3' '59.166.0.6'
 '10.40.182.6' '32.50.32.66' '127.0.0.1']
****************************************************************************************************
Unique Values of dsport with dtype object have total values - 128297 -> ['3260' '6881' 38558 ... 62291 28427 38903]
****************************************************************************************************
Unique Values of proto with dtype object have total values - 135 -> ['tcp' 'udp' 'arp' 'ptp' 'unas' 'ip' 'vrrp' 'pnni' '3pc' 'sun-nd' 'wsn'
 'ospf' 'st2' 'kryptolan' 'sctp' 'pvp' 'fc' 'wb-expak' 'secure-vmtp'
 'ipv6-no' 'mhrp' 'xtp' 'hmp' 'idpr-cmtp' 'merit-inp' 'icmp' 'pim' 'any'
 'cbt' 'crudp' 'ipcv' 'larp' 'sm' 'iatp' 'iso-ip' 'rsvp' 'ddx' 'chaos'
 'tp++' 'mobile' 'cftp' 'ttp' 'sprite-rpc' 'aes-sp3-d' 'aris' 'sep'
 'encap' 'dcn' 'igmp' 'isis' 'leaf-2' 'ipnip' 'argus' 'compaq-peer' 'vmtp'
 'ipv6-route' 'egp' 'uti' 'zero' 'tlsp' 'wb-mon' 'sdrp' 'swipe' 'tcf'
 'iso-tp4' 'narp' 'ippc' 'vines' 'skip' 'rvd' 'emcon' 'ipv6-opts' 'a/n'
 'gre' 'nvp' 'gmtp' 'ipv6' 'br-sat-mon' 'dgp' 'idrp' 'pri-enc' 'eigrp'
 'pup' 'sat-mon' 'trunk-2' 'xnet' 'ipv6-frag' 'nsfnet-igp' 'ipx-n-ip'
 'leaf-1' 'stp' 'cphb' 'cpnx' 'ipip' 'i-nlsp' 'micp' 'visa' 'prm'
 'sccopmce' 'il' 'igp' 'sat-expak' 'pgm' 'rdp' 'srp' 'iplt' 'trunk-1'
 'ggp' 'ax.25' 'netblt' 'ipcomp' 'crtp' 'smp' 'mfe-nsp' 'mux' 'l2tp'
 'irtp' 'bbn-rcc' 'etherip' 'ifmp' 'snp' 'fire' 'xns-idp' 'mtp' 'ib' 'qnx'
 'idpr' 'bna' 'sps' 'scps' 'ddp' 'pipe' 'rtp' 'esp' 'udt']
****************************************************************************************************
Unique Values of state with dtype object have total values - 16 -> ['CON' 'FIN' 'INT' 'REQ' 'ECR' 'ECO' 'ACC' 'CLO' 'RST' 'PAR' 'URH' 'MAS'
 'URN' 'TXD' 'no' 'TST']
****************************************************************************************************
Unique Values of dur with dtype float64 have total values - 587303 -> [0.285356 0.314311 0.30118  ... 0.195193 0.594081 0.631521]
****************************************************************************************************
Unique Values of sbytes with dtype int64 have total values - 14155 -> [  986  1540   536 ... 48424 69911 28210]
****************************************************************************************************
Unique Values of dbytes with dtype int64 have total values - 19166 -> [    86   1644    304 ... 484528  33722  28330]
****************************************************************************************************
Unique Values of sttl with dtype int64 have total values - 13 -> [ 62  31 254  60   0  32   1  29  64  63  30 255 252]
****************************************************************************************************
Unique Values of dttl with dtype int64 have total values - 11 -> [252  29   0  30  31  60 254  32  62 253  64]
****************************************************************************************************
Unique Values of sloss with dtype int64 have total values - 544 -> [   2    4    0    7    1   19    3   21   30    6   54    9   10   11
   18   77   27    5   14   20   38   22   35   28   12   15   26   42
    8   17   78   32   81   16   37   13  144   39  118   55   31   53
   24   52   36  622  130   29   23   34   47   70   41   85   46   50
   49   33   74  129   51   43   25   82  449  110  177   71   68 2986
  344  102   44   57  120  272   72   48  327  126   45  143  218 2203
  100   56  121 1540  278  127  125   40  193  840  128   58  184  444
  392   91 2687   76  310  124  123   75  328   98  967   94  137  146
  266 2820  366 1940  478   79  334  211   83  358  105  163  274  131
  194   66  133   69  279  809  167   73 2401   89  314  182 3669  187
  236  568  353  142  114  117   62  195  138  198  141  385  202   90
  350  149 2226 1536 4694  155  296  337  109  116   96  113   67  122
  106   61  165  934  304 3057  624  289 2982 3417  281   65 2303  307
  180  107 1458  850  152  287  495  631 2003  332  546  181 1225  140
  101 2682  186 1350   63   99  136  340 2690  302  154  362 1347 5319
 2179  238   80  103  560  191  188  473  303  799 2535  625  348 3164
  108  319  192  881 2530   59  313  349  229   93  164  269  189  257
  410  315   95  341  271   87  139   64  196 1364  398 1220  360  179
  150  228  293  111   97  104  119  345  159  381  231  376  830 2746
   88  171  217  286  346 3290  343  507   84  183 1030 2699  406  208
  409  370  401 1367 2698   92  375  512  407  586  135  331  325 2706
  294  999  157  285  326  261 2157  244  566  254  160 1627  288 2201
  691 3518 2405 3838 3407 3607 2591  134  112  170 1335  548  339  352
  132 2832 2457  263  233  168  273  335   60 1372  174  230  393  219
 3338  932  933  280  394  153 2045  216  487  391 4158 1976 2101  797
  368 2309  464 4206 2014 1362  207 1352  301  259  209 1876 3436 1424
 3624  161  386 4745 1236  770  237  427 1812  147  241  377  913 2822
 4210 1841 3386  847 2707  414  240   86 3592  930 5096  300  329  355
 2718  243  297 2184  145  166 2085  396 2688  199 3213 1346  308 2065
  270  357  502  532  402 2403  537  311  205  535 1985  250 2709 1484
 4803 1358  330  309  395 3993 2730  210  354 1004  451  148  291  425
  476  284 3951  227  175  156 1877  438 1241  169  276  525  413  905
 2468  356  389  185 2070  221 4707 3484 4033  408 3476 1341 2343 2840
 2011  322  295  556 2594  204 3307  336  200 1906 3129  324  115  178
  162 1111  268 2019  528  448  390 1288  388  275 1910  367  943  151
 1157  232 4546  190  808 4439 2719 1357 2703  380 1360  239 2110  277
  758 2528  213 1922  552 1214  365  741  305  726 2693  333  364 2705
  420  911 3830  283  619  422  299  611 2679  460  253 2848 2851 2225
  426  338  747  399 3643  795  347  816  403  712 2623 2205]
****************************************************************************************************
Unique Values of dloss with dtype int64 have total values - 707 -> [   1    4    0   14   15    2   16   11   12    8   20  370    5  197
   27   32    7   67   22   18   21   17    6   24   39    9  177   36
   71   42   13   30   26  861   33  182  390  207  175   28  260  280
  365   89  130  164   31   10  192   29  118   65  352  103    3   95
  294   77  380  199   94   74   59  163   44  116  389  109  357   40
   98  255  363  169   35  147   48  583  318   25  308   72  349   19
   63  373  155  372 1315  345  359  354   87   43  188  183  151  193
 4829   64  144  312  379  196   76  124  362  257  364  125  286   66
  335  350   38  361   83  134  178  214  179   91  497  367   85  172
  132  366   45  289  423  356  180   80  258  248  376  154  403  272
  141  474   69  328  108  375  523  388  343  344  369  167  111  358
  401   52  514  301  117  696  174   73  274  126  165  536  325  332
  415   86  270  195  446  311  266  146  148  547  107  512  341  187
  101  259  251  161  419   58   41  300   37  337   56  253  119  273
  377 1799  336  284  152  143   23  378  351  338  384  121  190  410
  206   68   61  554  383   55  544  518   96   34   70  189  194  322
  171  346  475   82  537  110  321  524  485  331  166  496  269  495
  452  319  340   47  314  205  487  553  186  530  567  288   54  292
  368  279  112  353  329  237  191  488   53  327  105  348  230  276
  575  434  355  220  235  307  123   78  129  360  473  204  542  461
  310  181  156  551  104  347  216  201   93  478  138  386  302  562
  557  309  136   79  323  221  120  476  173  285  127  428  371  405
   97 2193  532  381  513  256  106  170  184  333   57  424  374  334
  159  569  275  158  100  543  535  558  412  447  295  245  382  168
   46  238   49   62  342  305  387  252  122  541  503   81  298  113
  150  200  157  531  306  404  546  316 1648   88   60  330  128  222
  471  231  282  135  228  176  137  278  224  271  160  239   75  455
  268  162  450  324  315  264  246  400  296  326  215 1561  261  240
  133  297  185  392  522  247  114  449  145  439  115  564  581  277
  748  563  533  320  396  571  287 2627  634  290   51  317  291   50
  468 1558  653  582  491  500   99  620  293 1654  102  510  486  299
  548 1667   92  304  493   84  430  577  198 4672  692   90  451  226
  411  707  244  281  229  232  385  463  462  492  549  208  490  339
  139  241  579  820  303  313  489  806  645  283 2262  432  131  580
  263  234  149  689  210  213  904  479  250  448  391  769 5507  249
  431  153  507 1368  724  520 2633  397  559  212 1467 1750  499 1572
  572  521  526  262  511  209  442  494 1013  573  142  509  435  227
  921  406  414  480  560  502  236  243  454  393 1517  140  482  254
  398  433  501  519  625 1848  895  856  529  534  202  574 2257  686
 2277  613  540  399  217  420  565  438 1436 1316 3497 3246  727  465
  402  715  506  550  611  997  555 3338  422  225  987 1004  525  436
  578  629  576  860  814  775  714  429  763  456 1000  749  233 1699
 1651  267 2454  443  561  516  570 1390  484 1831  417  211 1133  477
  242  864  223 1035  615 1331  805  453  732  458  568  203  265  481
  508 1674 1676  545  413  444  426  407 1846 1008 2576  606 1312 5425
  694 3545 1291  604 2272  416 1303  859  505 5483  441  472  408  498
  767  691  641  409 1151  556  825  869 1320 2198  218  742  703  734
  459  698 2234  999  717 2950 1072  517  712  504  797  623  609  765
 1091  445  690 1844 1886  395  848  680  528 1070  427 5436 3978  738
 1601 1010  538  552  729  610  721  515 1307 3864 3039  990  566  608
  873 5484 2273  601 1005  778 1318]
****************************************************************************************************
Unique Values of service with dtype object have total values - 13 -> ['-' 'dns' 'ftp-data' 'smtp' 'http' 'ssh' 'pop3' 'ftp' 'ssl' 'dhcp' 'snmp'
 'irc' 'radius']
****************************************************************************************************
Unique Values of Sload with dtype float64 have total values - 1100258 -> [  23044.90039   36753.40625   10678.      ...  168178.8125  1629641.375
 1806133.75   ]
****************************************************************************************************
Unique Values of Dload with dtype float64 have total values - 1173739 -> [1.20551172e+03 3.95277305e+04 6.05617871e+03 ... 3.22186325e+06
 3.75048625e+06 4.07242275e+06]
****************************************************************************************************
Unique Values of Spkts with dtype int64 have total values - 933 -> [    6    16     4     2    40    42     8    44    34    36    54   330
    12   236    14    66   122    10    24    28   230    56    48    60
    46    18    52    90    32    20   424    84    22   232    38   360
    96    72    64   296   358    62   228    78   215   226   454     1
    50   244   124   462   222    68   308    26   326   346   116   100
   434   162   238   198    58   442   234   106    70   364   332    98
   110   342   368   456   235   340   138    88   126   338   334    17
   310     5   146    73   168   366    86   446   352   104   102    45
   328   420   626    92   324    57   460    80   336   108   190   612
   314   196   356   142   224   344   266   437    74     0   220   134
    31    51   337   464   240   452    30   214   302   448   174   662
   436   312    49   127   112   347   242   444   354   187   370    23
   427    55   440   350    82   426   128   195  1458   634   120   170
   172     3   438   684   348   401   374   362  1248   209   130   176
   292   156    27   349    94     9   140    91   343   117   158   620
   204   218   212   652   564   418   458   494   425    11   294   178
   132   118   463   664   192   555   660   150   450   408   592    59
   208   622   322   646   668   217    37   144   325   189   568   333
   384   318   154    67   624   433   164   316   200   616   392   323
   216    21   305    47   306    15   210   508    19   191   202   223
   155   606    13   290   307   680   111   188   472   119    76   321
   182   136   161   329   372    29   900   430   432   576   213   250
   148   199   658   300   457   656   114    25   428    43   152   363
    41   590   357   194   636   476   610   670   625   166    71   160
   258   241   260    33  5974   500   678   542   705   614   309   548
   207   496   572   320   550   505   399   388   186   400   341   488
   246   599   644   627   632   412   264   466     7    61   654   139
   345   451   600   335    87   206   404   331   169    35   227   265
   315   422    53   524   416   672  4410   596   123   411   197   650
   311   439   386   304   584   251   393   231   526   248  3086   180
    89   378   373   298   435   414    39   628   562   602   201   648
   115   613   640   429   498   353   486   618   149   694   394   615
   293   135  1686   339   221   121   578   682   484   638   574   666
   502   390   295   406   619   445    75   976   784    79   419   582
   510   389   653   359   277    69   490   184   598   674   113   474
   261    63  5376   268   319   193   604   398   109   282   256   588
   284   313   383   655   492    65   289    77   417   482   171   415
   623   382  1940   504   233   468   538  5646   732   288   376  3882
   211   970   153   649   380   686   103   396   361   676   630   786
   327   566   506   540   286   262   107   270   185   254   143   274
   219   410    97   371   317    81   299  1630   413   585   351    99
   252   403   441   532  4806   713   355   522   480  7340   280   478
   263  1142   387   642   708   487   291   512   611   367   275   276
   633   278   579   544   402   365    95   560   818   776   514   706
   409   272   273   554   151   545  4458   175   205   536   470  3074
   203  9392   580   586   141   303   534   556   159   225   243   530
   607  1874   593  6118  1254  5966  6836   283  4608  2922  1422  1704
  1006  1268  4018  1159   247   105  2462   179   101   173   528  5370
   181   443  2706   531   147   395  5386   369   730  2700 10646   375
  4360   558  1233   954   629  1604   518   603  5179   516  1256   704
   423   710  6332   397   521   722   719   570   297   229    83  1770
  5062   617   407   546   525   183    85   826  1642   285   775   493
   605   608   800   431   177  2734   391   798   520  2446   790   455
   379   405   594   645   253   513   764   269   754  1664   385   663
  5494   145  6584   692   565   421  1113   167   447  2066   449   601
   267   381  5404   621   690   816   133   583   822   742   259   882
   541    93   515  2740   794  5402   752  1026   245  1174   715   702
  5418   643   740  2004   509   609   271  4316   591  1044   978  1138
   696   597   557  3262  4404   163  1388  7040  4812  7684  6820   552
  7226   639   675   581  5184   287  2676   377  1096   998   301   499
  1624  5666  4920   681   281   700   689  2750   595   237   637   792
   641  6680  1870  1872   688   575  4094   501  1068   788   631  8324
   257   760  3960   165  4212  1600   952   804   453  4624   930  8669
  4040  2730  2712   762   279  3760  6874  2854  7252   239   772  9492
   635  2478  1544   936  3638   758   589  1832  5652  8424  3684  6778
  1708   573   547  5422   836  7194  1866   577 10200   716  5442   549
  4370  4174   511   255  5382   129  6430  2698   157  4132  1012  1072
   810  4808  1194   806   249   661  1074  3974  1638  5424  2978  9616
  2722   738  7990  1082  5466   559   714  2014   864   695   941   964
  7908  1632   527  3758  5532   890  2494   667  1154   832   840  1816
  4938   720   459  4144   665  9416   469  6974   659   797  8070  6954
  2690  4694  5686   137   698  4026  1118  5196  6616  3818  6262   898
  2228   553   567  1062   924   561   782  2578  6776   467   651  3822
   131   744  1892   571  2320  9094   749  1622   465   125  8882  5444
  2720  5412  2726  4232   491  1522  5060  1192  3844  1110  2436  1488
  1456  5392   687   734  1876  5416   846   711  1834  7660  1178   912
  1246  1634  1228   587  5364  1654   922   677  5702  5708  4450   854
  1500  7292   523  1596  1250   820  1430  5254  4416]
****************************************************************************************************
Unique Values of Dpkts with dtype int64 have total values - 1255 -> [   2   18    4 ... 1560 2642  890]
****************************************************************************************************
Unique Values of swin with dtype int64 have total values - 36 -> [255   0 168  70   1 179 188  45  43 210  46  61 156 232 167  87 160 202
  31 203 192  42  99  76  67  92  52 103 172 134 154  38 245   5  14 145]
****************************************************************************************************
Unique Values of dwin with dtype int64 have total values - 32 -> [255   0  37 209 125  35 137   1 171  40 229 164 236  81  77  70  91 224
  27  43  33 160 253  46  48 197 244 192 108  12  90 175]
****************************************************************************************************
Unique Values of stcpb with dtype int64 have total values - 1429571 -> [ 761934099  734569334          0 ... 1419799572 2097393639 1097293365]
****************************************************************************************************
Unique Values of dtcpb with dtype int64 have total values - 1429031 -> [3893365633 2907227880          0 ... 3566126516 4247267529 3252878568]
****************************************************************************************************
Unique Values of smeansz with dtype int64 have total values - 1415 -> [ 164   96  134 ... 1471 1415 1439]
****************************************************************************************************
Unique Values of dmeansz with dtype int64 have total values - 1417 -> [  43   91   76 ... 1385 1417 1479]
****************************************************************************************************
Unique Values of trans_depth with dtype int64 have total values - 14 -> [  0   1   2 155 131   3  39   4   9   5 163 172  80   8]
****************************************************************************************************

**Insight:**
-   Some values were repeated due to their wrong format, e.g. column `ct_ftp_cmd` unique values are `[0'''1' 1 '0' 2 8 '2' 4 5 3 6 '4']` in which we see that same values repeated and treated differently.
-   In column `is_ftp_login`, the unique values are `[0. 1. 2. 4.]` which is not correct because according to given NB15_features.csv column is a binary column

**Handling ct_ftp_cmd**

In [ ]:
def ct_ftp_cmd(df, column):
    df[column] = df[column].astype('str')
    df[column].dtype

    df[column].unique()
    df[column] = df[column].replace(' ', '0')
    df[column] = df[column].astype('int')
    return df

In [ ]:
ct_ftp_cmd(train_df, 'ct_ftp_cmd')

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,175.45.176.3,57672,149.171.126.15,3260,tcp,CON,0.285356,986,86,62,...,0,10,8,4,5,3,1,7,normal,0
1,59.166.0.8,38052,149.171.126.9,6881,tcp,FIN,0.314311,1540,1644,31,...,0,14,6,8,12,5,1,6,normal,0
2,59.166.0.0,42911,149.171.126.2,38558,udp,CON,0.301180,536,304,31,...,0,9,16,7,6,1,1,3,normal,0
3,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000009,114,0,254,...,0,33,33,17,17,17,17,33,generic,1
4,59.166.0.5,61544,149.171.126.6,53,udp,CON,0.001079,146,178,31,...,0,2,2,5,4,1,1,1,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540038,59.166.0.8,34415,149.171.126.0,5190,tcp,FIN,0.008119,1920,4312,31,...,0,3,10,4,1,1,1,1,normal,0
2540039,59.166.0.8,56352,149.171.126.2,53,udp,CON,0.001047,130,162,31,...,0,1,1,2,6,1,1,1,normal,0
2540040,59.166.0.9,25527,149.171.126.4,6881,tcp,FIN,0.013106,1540,1644,31,...,0,12,11,8,9,6,1,6,normal,0
2540041,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000003,114,0,254,...,0,37,37,26,26,26,13,37,generic,1
2540042,149.171.126.14,1043,175.45.176.1,53,udp,INT,0.000002,264,0,60,...,0,22,22,22,22,22,11,22,normal,0

**Handling is_ftp_login**

In [48]:
def con_to_bin(df, column):
    df[column] = (df[column] > 0).astype(int)
    return df

In [49]:
con_to_bin(train_df, 'is_ftp_login')

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,175.45.176.3,57672,149.171.126.15,3260,tcp,CON,0.285356,986,86,62,...,0,10,8,4,5,3,1,7,normal,0
1,59.166.0.8,38052,149.171.126.9,6881,tcp,FIN,0.314311,1540,1644,31,...,0,14,6,8,12,5,1,6,normal,0
2,59.166.0.0,42911,149.171.126.2,38558,udp,CON,0.301180,536,304,31,...,0,9,16,7,6,1,1,3,normal,0
3,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000009,114,0,254,...,0,33,33,17,17,17,17,33,generic,1
4,59.166.0.5,61544,149.171.126.6,53,udp,CON,0.001079,146,178,31,...,0,2,2,5,4,1,1,1,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540038,59.166.0.8,34415,149.171.126.0,5190,tcp,FIN,0.008119,1920,4312,31,...,0,3,10,4,1,1,1,1,normal,0
2540039,59.166.0.8,56352,149.171.126.2,53,udp,CON,0.001047,130,162,31,...,0,1,1,2,6,1,1,1,normal,0
2540040,59.166.0.9,25527,149.171.126.4,6881,tcp,FIN,0.013106,1540,1644,31,...,0,12,11,8,9,6,1,6,normal,0
2540041,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000003,114,0,254,...,0,37,37,26,26,26,13,37,generic,1
2540042,149.171.126.14,1043,175.45.176.1,53,udp,INT,0.000002,264,0,60,...,0,22,22,22,22,22,11,22,normal,0

In [ ]:
def ports(df, column):
    # convert to string first
    df[column] = df[column].astype('str')

    # then handling non-integer values
    df[column] = pd.to_numeric(df[column], errors = 'coerce').fillna(0).astype(int)

In [54]:
ports(train_df, 'sport')

In [56]:
ports(train_df, 'dsport')

## Exploratory Data Analysis